@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .navigation-width {
    @apply mx-auto max-w-6xl pt-12 px-6 md:pb-6 pb-4;
  }
  .container-width {
    @apply mx-auto max-w-5xl p-6;
  }
}

html,
body {
  padding: 0;
  margin: 0;
}

* {
  scroll-behavior: smooth;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

main h2,
h3,
h4 {
  @apply tracking-tight font-zilla text-slate-800 antialiased;
}

main h1 {
  @apply scroll-m-20 text-4xl font-extrabold tracking-tight lg:text-5xl text-slate-900 dark:text-slate-300;
}
